/***********************************************************************
This file contains the styles for the buttons
***********************************************************************/

button {
  align-items: center;
  background-color: $button;
  border: none;
  border-right: 1px solid $border;
  color: $button-text;
  display: flex;
  flex: 1 1 25%;
  justify-content: center;
  padding: 0;


  &:last-of-type {
    border-right: none;
  }

  &:hover {
    background-color: darken($button, 7%);
  }

  &:focus {
    outline: none;
  }

  // the '0' button will span two columns
  &[data-value="0"] {
    flex: 1 1 50%;
  }
}

// these are the dark buttons used for operations
.operator {
  background-color: $operator-background;
  color: $button-text;

  &:hover {
    background-color: darken($operator-background, 5%);
  }


  // the equals button is a different color than the others
  &--blue {
    background-color: $blue;
    color: $button-text;

    &:hover {
      background-color: darken($blue, 5%);
    }
  }
}
