/***********************************************************************
This file contains general styles, variables etc.
***********************************************************************/

$border: #222;
$blue: #3e66fe;
$button: #555;
$button-text: #eee;
$operator-background: #333;
$operator-text: #ccc;

html {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

*, *:before, *:after {
  box-sizing: inherit;
}
